name: template_helloworld_lib_workflow

on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Setup Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies & package
        run: |
          python -m pip install --upgrade pip
          python install -e .

      - name: Test with unittest
        run: python ./tests/test_helloworld.py
